#container{
    text-align: center;
}

#camper_thumbs{
    display: flex;
    justify-content: center;
}
.camperThumbDiv{
    min-width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
.camperThumb{
    min-width: 50px;
    object-fit: contain;
    max-width: 300px;
    background-color: white;
}
.camperThumb:hover{
    box-shadow: 0px 0px 5px 5px;
}


#camper_details{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    align-items: center;
}
#detailLayout{
    max-width: 800px;
    min-width: 200px
}
#camper_details table, th, td{
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 3px
}

#slideshow{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#slideshow > button{
    font-size: x-large;
    height: 50px;
}
#slideshow > img{
    object-fit: contain;
    max-width: 1000px;
    min-width: 500px;
    max-height: 700px;
}

.hidden{
    display: none;
}